{% extends "/shared/layout.html" %}
{% block content %}
{% include "/shared/navbar.html" %}
<div class="container mt-5">
    <div class="card shadow mb-5">
        <div class="card-body">
            <p>Name On Card: {{ payment.name_on_card }}</p>
            <p>Card Number: {{ payment.card_number }}</p>
            <p>CSV: {{ payment.csv }}</p>
            <p>Zip Code: {{ payment.zip_code }}</p>
            <div class="d-flex gap-5">
                <form action="/payments">
                    <button type="submit" class="btn btn-primary">Back</button>
                </form>
                <form action="/payments/{{ payment.id }}/edit">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}